/* Add custom styles here */
div[data-testid="metric-container"] {
    border: 2px solid #f63366;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

/* New rule for setting the border color of st.metric elements */
.stMetricContainer .stMetric {
    border-color: darkgray;
}
